<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    <script type="text/javascript">
      var _trustvox = _trustvox || [];
      _trustvox.push(['_storeId', '1']);
      _trustvox.push(['_productId', '<%= @product.try(:permalink) %>']);

      (function() {
        var tv = document.createElement('script'); tv.type = 'text/javascript'; tv.async = true;
        tv.src = '//<%= Store::Application.config.widget_host %>/assets/publisher/trustvox_widget.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tv, s);
      })();
    </script>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container">

      <%= render :partial => 'spree/shared/header' %>

      <div id="wrapper" class="row" data-hook>

        <%= breadcrumbs(@taxon) %>

        <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

      </div>

      <%= render :partial => 'spree/shared/footer' %>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>

  </body>
</html>
